<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Patient {{patientUpd.id}} info </h2>

      <li class="list-group-item">
        <h4><b>Name : </b>{{patientUpd.lastName}}<b> - </b>{{patientUpd.firstName}}</h4>
        <h4><b>Birthdate : </b>{{patientUpd.birthdate | date: 'dd/MM/YYYY'}}<b> - Sex : </b>{{patientUpd.sex}}</h4>
        <h4><b>Address : </b>{{patientUpd.address}}</h4>
        <h4><b>Phone : </b>{{patientUpd.phone}}</h4>
      </li>

      <button class="btn btn-primary" (click)="onBack()">Back to the list</button>
    </div>
  </div>
</div>
