<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Patients List</h2>
      <button class="btn btn-primary" (click)="onAjouter()">Add patient ...</button>
      <li class="list-group-item">
        <h4>
          <input type="text" class="form-control" placeholder="Search Assess by family Name" [(ngModel)]="familyName">
          <button class="btn btn-primary" (click)="onSearch()">Search</button>
        </h4>
      </li>
      <ul class="list-group">
        <app-patient *ngFor="let patient of patients; let i = index"
                     [indexOfPatient]="patient.id"
                     [patientLastName]="patient.lastName"
                     [patientFirstName]="patient.firstName"
                     [patientBirthDate]="patient.birthdate"
                     [patientSex]="patient.sex"
                     [patientAddress]="patient.address"
                     [patientPhone]="patient.phone"
                     [id]="patient.id">
        </app-patient>
 <!--       <app-patient [patientLastName]=" patientLastName1"></app-patient>
        <app-patient [patientLastName]="patientLastName2"></app-patient>
        <app-patient [patientLastName]="patientLastName3"></app-patient>-->
      </ul>
      <button type="button" class="btn btn-primary" data-placement="top" (click)="onAjouter()" data-toggle="tooltip">Add patient ...</button> &nbsp;
      <button type="button" class="btn btn-primary" data-placement="top" [disabled]="!isAuthAppPatientList" (click)="onCharger()" data-toggle="tooltip">Reload patients</button>
      <!--<button class="btn btn-danger" (click)="onTest()">switch</button>-->
    </div>
  </div>
</div>


<!--[indexOfPatient]="i"-->
