<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Liste des patients</h2>
      <button class="btn btn-primary" (click)="onAjouter()">Ajouter un patient</button>
      <ul class="list-group">
        <app-patient *ngFor="let patient of patients; let i = index"
                     [indexOfPatient]="i"
                     [patientLastName]="patient.lastName"
                     [patientFirstName]="patient.firstName"
                     [patientBirthDate]="patient.birthdate"
                     [patientSex]="patient.sex"
                     [patientAddress]="patient.address"
                     [patientPhone]="patient.phone"
                     [id]="patient.id">
        </app-patient>
 <!--       <app-patient [patientLastName]=" patientLastName1"></app-patient>
        <app-patient [patientLastName]="patientLastName2"></app-patient>
        <app-patient [patientLastName]="patientLastName3"></app-patient>-->
      </ul>
      <button type="button" class="btn btn-primary" data-placement="top" (click)="onAjouter()" data-toggle="tooltip">Ajouter un patient</button>
      <button type="button" class="btn btn-primary" data-placement="top" [disabled]="!isAuthAppPatientList" (click)="onCharger()" data-toggle="tooltip">Charger les patients</button>
      <button class="btn btn-danger" (click)="onTest()">switch</button>
    </div>
  </div>
</div>
