<li class="list-group-item">

  <h4 [ngStyle]="{color:getColor()}"><b>Patient : </b>{{ getPatientLastName() }} <b>-</b> {{ patientFirstName }}</h4>
 <!-- <h5 [ngStyle]="{color:getColor()}"><b>Id : </b>{{id}}<b> - Birthdate : </b>{{ patientBirthDate | date: 'dd/MM/YYYY':'UTC'}}<b> - Sex : </b>{{ patientSex }}<b> - Address : </b>{{ patientAddress }}<b> - Phone </b>{{ patientPhone }}</h5>
-->
  <h5 [ngStyle]="{color:getColor()}"><b>Id : </b>{{id}}<b> - Birthdate : </b>{{ patientBirthDate| date: 'dd/MM/yyyy' }}<b> - Sex : </b>{{ patientSex }}<b> - Address : </b>{{ patientAddress }}<b> - Phone </b>{{ patientPhone }}</h5>


  <button class="btn btn-primary" (click)="onDetail(id)">Info ...</button> &nbsp;
  <button class="btn btn-primary" (click)="onUpdate(id)">Udpate ...</button> &nbsp;
  <button class="btn btn-primary" (click)="onDelete(id)">Delete ...</button> &nbsp;
  <button class="btn btn-primary" (click)="onNotes(id)">Notes ...</button> &nbsp;
  <button class="btn btn-primary" (click)="onAssess(id)">Assess ...</button>
</li>
