<li class="list-group-item">
  <div
    style="width:20px;height:20px;background-color:blue;"
    *ngIf="patientSex ==='M'">
  </div>
<!--
  <h4 [ngStyle]="{color:getColor()}">Patient : {{ getPatientLastName() }} {{ patientFirstName }} - Birthdate : {{ patientBirthDate}} - Sex : {{ patientSex }} - Address : {{ patientAddress }} - Phone {{ patientPhone }}</h4>
-->
  <h4 [ngStyle]="{color:getColor()}">Patient : {{ getPatientLastName() }} {{ patientFirstName }}</h4>
  <h5 [ngStyle]="{color:getColor()}">Birthdate : {{ patientBirthDate}} - Sex : {{ patientSex }}</h5>
  <h5 [ngStyle]="{color:getColor()}">Address : {{ patientAddress }} - Phone {{ patientPhone }}</h5>
  <a [routerLink]="[id]">Détail</a>
  <button class="btn btn-warning" (click)="onSwitchName()">SwitchName</button>
</li>
