<li class="list-group-item">
  <div
    style="width:20px;height:20px;background-color:blue;"
    *ngIf="patientSex ==='M'">
  </div>
<!--
  <h4 [ngStyle]="{color:getColor()}">Patient : {{ getPatientLastName() }} {{ patientFirstName }} - Birthdate : {{ patientBirthDate}} - Sex : {{ patientSex }} - Address : {{ patientAddress }} - Phone {{ patientPhone }}</h4>
-->
  <h4 [ngStyle]="{color:getColor()}">Patient : {{ getPatientLastName() }} {{ patientFirstName }}</h4>
  <h5 [ngStyle]="{color:getColor()}">Birthdate : {{ patientBirthDate | date: 'dd/MM/YYYY'}} - Sex : {{ patientSex }}</h5>
  <h5 [ngStyle]="{color:getColor()}">Address : {{ patientAddress }} - Phone {{ patientPhone }}</h5>

  <button class="btn btn-primary" (click)="onDetail()">Detail du patient</button>
  <h5><a [routerLink]="[id]">Détail patient {{id}}</a></h5>
</li>
