<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Add patient </h2>
      <li class="list-group-item">
        <h4>Lastname : <input type="text" class="form-control" [(ngModel)]="lastName"></h4>
        <h4>Firstname : <input type="text" class="form-control" [(ngModel)]="firstName"></h4>
        <h4>Birthdate : <input type="text" class="form-control" [(ngModel)]="birthdate"></h4>
        <h4>Sex : <input type="text" class="form-control" [(ngModel)]="sex"></h4>
        <h4>Address : <input type="text" class="form-control" [(ngModel)]="address"></h4>
        <h4>Phone : <input type="text" class="form-control" [(ngModel)]="phone"></h4>

      </li>
    </div>
<!--
    <button class="btn btn-success" [disabled]="!isAuthAppPatientList" (click)="onAjouter()">Ajouter le patient</button>
-->
    <button class="btn btn-primary" (click)="onAjouter()">Add</button>
    <button class="btn btn-secondary" (click)="onRetourner()">Cancel</button>

  </div>
</div>
