<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Delete Patient {{patient.id}}. Are you sure ? </h2>

      <li class="list-group-item">
        <h4><b>Name : </b>{{patient.lastName}}<b> - </b>{{patient.firstName}}</h4>
        <h4><b>Birthdate : </b>{{patient.birthdate | date: 'dd/MM/YYYY'}}<b> - Sex : </b>{{patient.sex}}</h4>
        <h4><b>Address : </b>{{patient.address}}</h4>
        <h4><b>Phone : </b>{{patient.phone}}</h4>

      </li>
      <button class="btn btn-primary" (click)="onDelete()">Delete</button>
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
